{% extends "base.html.twig" %}

{% block title %}Services{% endblock %}

{% block content %}

            <h3>Ajouter un Service :</h3><hr>

            {{ form_start(form) }}
            {{ form_end(form) }}

{% endblock %}
